<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_lms" name="LMS" web_icon="lms_mltr,static/description/icon.png"/>
    <menuitem 
        id="lms_operation_menu"
        name="Operation"
        parent="menu_lms"
        sequence="1"
    />
    <menuitem 
        id="lms_config_menu"
        name="Configration"
        parent="menu_lms"
        sequence="2"
    />
</odoo>